/* All home page suggested content */
ytd-browse[page-subtype="home"] {
    display: none
}

/* Related / suggestions right sidebar */
#related {
    display: none
}

/* Comment block */
ytd-comments {
    display: none !important
}
